# Ignore compiled executables
*.o
*.out
*.exe
*.dSYM/
q[0-9]*
!q[0-9]*.c
null
syscall
leak

# Ignore temporary editor/IDE files
*.swp
*.vscode/
*.idea/

# Ignore OS files
.DS_Store

# Optional: ignore logs or temporary files
*.log
